<a href="https://colab.research.google.com/github/belugarose/language100/blob/master/language100_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [0]:

!wc -l ./data_for_test/popular-names.txt

2780 ./data_for_test/popular-names.txt

In [0]:
!find ./data_for_test/ -name "*.txt" | wc -l

1

### タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [0]:
!sed -e 's/[[:cntrl:]]/ /g' ./data_for_test/popular-names.txt >> ./data_for_test/ans11.txt  # 参考

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

### 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [0]:
!cut -f 1 popular-names.txt > col1.txt
!cut -f 2 popular-names.txt > col2.txt

### col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [0]:
!paste col1.txt col2.txt > an14.txt
!cat an14.txt | head -5

### 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

In [0]:
!head -$1 popular-names.txt

### 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [28]:
!tail -$1 popular-names.txt

William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

### ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [0]:
!split -l 500 -d popular-names.txt NAME-

### 1列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [0]:
!cut -f1 -d$'\t' popular-names.txt | LANG=C sort | uniq　 # $'\t'がタブになる

### 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [0]:
!sort -k 3nr popular-names.txt  # nr 数値として逆順で並び替える

### 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [0]:
!cut -f1 -d$'\t' popular-names.txt | LANG=C sort |  uniq -c | sort -k 1nr